*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* this code gives me a background for my webpage and how its positioned */
/* body{
    background-image: url("./Images/brainscope_6.jpg");
    background-color: #042a3f;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    
} */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #042a3f;
    color: white;
    opacity: 70%;
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
      }

h1 {
    font-size: 50px;
}
nav a {
    padding: 14px 20px;
    text-align: center;
    color: white;
    font-size: 30px;
      }

section {
    flex-wrap: wrap;
    padding: 0px 0px 20px 0px;
   }

.sectionContainer {
    display: flex;
    padding:100px;
    /* background-clip: content-box; */
    }

section h2 {
    min-width: 20%;
    margin: 5%;
    padding: 2%;
    border-right: 5px solid black;
    text-align: right;
    font-size: 50px;
}

section p {
    width: 75%;
    padding: 5%;
    font-size: 25px;
}
.articleContainerWork {
    display: flex;
    border: 100px;
}

h3 {
    min-width: 20%;
    margin: 25%;
    padding: 2%;
    border-right: 5px solid black;
    text-align: right;
    font-size: 50px;
    padding-right: 50px;
}

.imageContainer {
    /* centers text on top of absolute position image */
    position: relative;
    font-size: 110%;
}

.article p {
    position: absolute;
    top: 45%;
    left: 5%;
}

.article a {
    width: 75%;
    padding: 5%; 
}

.otherImageContainer {
    /* sets flex to make boxes fit side to side. */
    display: flex;
    /* currently not doing anything */
    position: relative;
    font-size: 100%;
}

/* currently not doing anything */
.otherImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: space-between;
}

 /* background color and position are inherited from image container settings */
 /* this overwrites textbox location on the image so
  it's higher than the image container set height. */
.otherImageContainer  p {
    top: 15%;
    left: 5%;
} 

h4 {

    border-right: 5px solid black;
    text-align: right;
    font-size: 25px;
    padding-right: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    width: 75%;
    padding: 5%;
    /* margin: 75%; */

}
li {
    font-size: 30px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
   
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
 
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

  }
  