*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    background-image: url("/Images/brainscope_6.jpg");
    background-color: #042a3f;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #042a3f;
    color: white;
    opacity: 80%;
}
h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    flex-wrap: wrap;
     padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}
a {

    color: #ffffff;
}

h2{
    padding: 30px;
    margin-bottom: 20px;
}
.border{
    border-right: 5px solid black;
    margin-left: 70px;
    padding: 30px;
    
}

p {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap:wrap ;
    justify-content: right;
}
article{
    float: right;
}

article img{
    padding: 50px;
    float: right;
    flex-direction: column;
    justify-content: right;
}
section {
    display: flex;
    margin-left: 20px;
    padding-left: 40px;
    clear: both;
    float: left;
    flex-direction: column;
    width: 20%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2589bd;
}
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    float: right;
  }

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

footer h4 {
    font-size: 20px;
}
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
   
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
 
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

  }
  